# Configurações do Docker
DB_USER=YOUR_DB_USER
DB_PASSWORD=YOUR_DB_PASS
DB_NAME=YOUR_DB_NAME

# DATABASE
DATABASE_URL="DB_CONNECTION_URL"
SERVER_PORT=3333

# SERVER
NODE_ENV="development"
FRONTEND_URL="127.0.0.1"
TRUST_PROXY_HOPS=NUMBER_OF_PROXYS_USED_ON_HOST

# REDIS
REDIS_HOST="YOUR_REDIS_HOST"
REDIS_PORT=6379
REDIS_PASSWORD=

# CRIPTOGRAFIA
JWT_SECRET="YOUR_JWT_SECRET"
ACCESS_TOKEN_EXPIRES_AT="15m"
REFRESH_TOKEN_EXPIRES_AT="7d"