# SERVER
NODE_ENV="development"
SERVER_PORT="3333"
TRUST_PROXY_HOPS=""
FRONTEND_URL="http://127.0.0.1"
LOG_LEVEL='info'
SENTRY_DSN='YOUR_SENTRY_URL'

# DATABASE
DATABASE_URL="postgresql://postgres:user@password:port/db_name"

# CRIPTOGRAFIA
JWT_SECRET="YOUR_JWT_SECRET"
ACCESS_TOKEN_EXPIRES_AT="15m"
REFRESH_TOKEN_EXPIRES_AT=7

# REDIS
REDIS_HOST="localhost"
REDIS_PORT="6379"
REDIS_PASSWORD=""