# Configurações do Docker
DB_USER=YOUR_DB_USER
DB_PASSWORD=YOUR_DB_PASS
DB_NAME=YOUR_DB_NAME

# A URL completa que o Drizzle vai usar para se conectar
DATABASE_URL="DB_CONNECTION_URL"
SERVER_PORT=3333

# CRIPTOGRAFIA
JWT_SECRET="YOUR_JWT_SECRET"
ACCESS_TOKEN_EXPIRES_AT="15m"
REFRESH_TOKEN_EXPIRES_AT="7d"